@charset "UTF-8";

*{
	margin: 0px;
	padding: 0px;
}
.center.align{
	margin-left: auto;
    margin-right: auto;
    padding-top: 2%;
    display: block;
    width: 95%;
}
.cardAlignment {
	border: 1px solid #B9B9FF;
	background-color: #FBFBFF;
	display: flex;
	flex-direction: row;
	margin: auto;
	padding: 20px;
	border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.cardMargin{
	margin: 10px
}
